#btn-checkin,
#btn-create-activity,
#main .form-control,
#main .btn{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
}

.list-group-item a{
	display: block;
}

.activity-list a:after{
	content:"";
	clear:both;
	display: block;
}
.activity-list .name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	width: 140px;
}
.list-group-item .time{
	float: right;
	color: #999;
}

#main{
	margin-top: 70px;
}

#club-list{
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}


#club-list:after{
	content: "";
	display: block;
	clear: both;
}

.club-item{
	border-color: #eee;
	float:left;
	text-align: center;
	width:33.33%;
	border-right: 0;
	border-bottom: 0;
	border-radius: 0;
}


.club-item:first-child{
	border-radius: 0;
}

.club-item:hover{
	background-color: #eee;
}

.club-item img{
	max-width: 100%;
	height: auto;
}

.club-item .name{
	margin-top: 10px;
}

#qr{
	text-align: center
}

#qr img{
	width: 100%;
}

.print-only{
	display:none;
}

.loading{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
}

.loading .inner{
	width: 60px;
	height: 60px;
	border-radius: 10px;
	background: rgb(0,0,0) url(i/loading.gif) no-repeat center center;
	opacity: .8;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
}

@media print{
	nav,.btn{
		display: none !important;
	}
	.print-only{
		display:block;
	}
}