/* base */
body{
	-webkit-user-select: none;
	background-color: #e5ebe4;
}

.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
	background-color: #545652;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

.navbar .navbar-brand,.navbar .navbar-brand:hover{
	color: #fff;
}

.btn-primary, .btn-primary:hover{
	background-color: #53cbaa;
	border: none;
}

/* app */

#btn-checkin,
#btn-create-activity,
#main .form-control,
#main .btn{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

#wrapper{
	overflow-y: auto;
	-webkit-overflow-scrolling : touch;
}

#main{
	height: 100%;
	padding-top: 70px;
	padding-bottom: 60px;
}

.list-group-item a{
	display: block;
}

.activity-list a:after{
	content:"";
	clear:both;
	display: block;
}
.activity-list .name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	width: 140px;
}
.list-group-item .time{
	float: right;
	color: #999;
}

#club-list{
}

#club-list:after{
	content: "";
	display: block;
	clear: both;
}

.club-item{
	border: none;
	float: left;
	text-align: center;
	width: 33.33%;
	padding: 10px;
	background-color: transparent;
}


.club-item:first-child{
	border-radius: 0;
}

.club-item img{
	max-width: 100%;
	height: auto;
	min-height: 67px;
	padding: 10px;
	border: 1px solid #eee;
	border-radius: 50%;
	background-color: #FFFFFF;
	/*box-shadow: inset 0 0 15px rgba(0,0,0,0.075);*/
}

.club-item .name{
	margin-top: 10px;
	color: #999;
}

.club-item a:hover{
	text-decoration: none
}

#qr{
	text-align: center
}

#qr img{
	width: 100%;
}

.print-only{
	display:none;
}

.loading{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
}

.loading .inner{
	width: 60px;
	height: 60px;
	border-radius: 10px;
	background: rgb(0,0,0) url(i/loading.gif) no-repeat center center;
	opacity: .8;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
}

@media print{
	nav,.btn{
		display: none !important;
	}
	.print-only{
		display:block;
	}
}