<a href="/activity/create?club=<%= id %>" class="btn btn-default btn-primary" id="btn-create-activity" type="button">创建活动</a>
<a href="/activity/create?club=<%= id %>" class="btn btn-default btn-primary" id="btn-create-activity" type="button">导出数据</a>
<ul class="list-group">
	<% items.forEach(function(item){ %>
	<li class="list-group-item activity-list">
		<a href="/activity/<%= item.id %>"><span class="name"><%= item.title %></span><span class="time"><%= item.time %></span></a>
	</li>
	<% }); %>
</ul>